
.App {

}

header {
    color: white;
    background-color: #171717;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 70%;
}

main {
  color: #171717;
  background-color: grey;
  position: absolute;
  top: 0;
  left: 30%;
  bottom: 0;
  right: 0;
}
